.develop {
  margin-top: 83px;
}

.develop__wrapper {
  margin-left: 71px;
}

.develop-title {
  width: 826px;
  font-weight: 600;
  font-size: 25px;
  line-height: 187.5%;
  text-align: center;
  color: #222222;
}

.develop-top-box {
  width: 525px;
}

.develop-top-title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 187.5%;
  color: #222222;
  margin-bottom: 32px;
  margin-top: 49px;
}

.develop-top-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 187.5%;
  color: #525252;
  margin-bottom: 46px;
}

.develop-box {
  margin-bottom: 165px;
}

.develop-box img {
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {



}

@media only screen and (max-width: 768px) {

  .develop__wrapper {
    margin-left: 0;
  }

  .develop-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 187.5%;
    text-align: center;
    width: 293px;
    color: #222222;
    margin-bottom: 42px;
  }

  .develop-top-box {
    display: none;
  }

  .develop-box img {
    margin-left: -23px;
  }

}