.develop {
  margin-top: 83px;
  background-image: url("../images/dots.svg");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 347px);
  background-position-y: calc(50% + -34px);
}

.develop__wrapper {
  margin-left: 71px;
}

.develop-title {
  width: 826px;
  font-weight: 600;
  font-size: 25px;
  line-height: 187.5%;
  text-align: center;
  color: #222222;  
}

.develop-top-box {
  width: 525px;
}

.develop-top-title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 187.5%;
  color: #222222;
  margin-bottom: 32px;
  margin-top: 49px;
}

.develop-top-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 187.5%;
  color: #525252;
  margin-bottom: 46px;
}

.develop-box {
  margin-bottom: 165px; 
}