.header-bottom {
  background-image: var(--main-header-bg-color);
  padding: 16px 0;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-item:nth-child(1) {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  &::before {
    content: "";
    width: 11px;
    height: 11px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 7px;
  }
}

.nav-item:nth-child(2) {
  padding: 0;
  margin: 0;
  margin-left: 87.5px;
}

.nav-item:nth-child(3) {
  padding: 0;
  margin: 0;
  margin-left: 74.85px;
}

.nav-item:nth-child(4) {
  padding: 0;
  margin: 0;
  margin-left: 64.3px;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
}

.nav-btn {
  color: var(--main-btn-color);
  margin-left: 68px;
  padding-top: 10.08px;
  padding-bottom: 11.09px;
  padding-left: 27.41px;
  padding-right: 28.46px;

  &:hover {
    color: var(--main-btn-color);
  }
}

.header-top {
  padding: 9px 0;
}

.header-top-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #1A1A1A;
}

.header-top-item:nth-child(1) {
  display: flex;
  align-items: center;
  margin-right: 100px;

  &::before {
    content: "";
    background-image: url("../images/location.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 15px;
    display: inline-block;
    margin-right: 12.5px;
  }
}

.header-top-item:nth-child(2) {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    background-image: url("../images/phone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 12.5px;
  }
}

.header__btn {
  display: none;
}

@media only screen and (max-width: 1024px) {

  .header-top {
    display: none;
  }

  .nav {
    display: flex;
  }

  .nav-item {
    margin-left: 0;
  }

  .nav-item:nth-child(2),
  .nav-item:nth-child(3),
  .nav-item:nth-child(4) {
    margin-left: 0;
  }

  .nav-btn {
    margin-left: 0;
  }

  .nav {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
  }

}

@media only screen and (max-width: 1200px)  {

  .nav {
    display: flex;
  }



  .nav-item:nth-child(2),
  .nav-item:nth-child(3),
  .nav-item:nth-child(4) {
    margin-left: 0;
  }

  .nav {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {

  .container {
    padding-left: 23px;
    padding-right: 23px;
  }

  .nav {
    display: none;
  }

  .header {
    position: relative;
  }

  .header__btn {
    display: block;
    background-image: url("../images/burger.svg");
    width: 26px;
    height: 21px;
    border: none;
    background-color: transparent;
  }

  .show-bg .nav {
    display: block;
  }

  .show-bg .header__btn {
    background-image: url("../images/burger-close.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 21px;
    height: 21px;
  }

  .nav {
    position: absolute;
    background-image: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
    top: 90px;
    right: 20px;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
  }

  .nav-item {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .nav-link {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .nav-item:nth-child(2),
  .nav-item:nth-child(3),
  .nav-item:nth-child(4) {
    margin-left: 0;
    margin-top: 10px;
  }

  .nav-item:nth-child(4) {
    margin-bottom: 10px;
  }

  .nav-item:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-btn {
    margin-left: 0;
    display: none;
  }

  .scroll {
    overflow: hidden;
  }

}